.main{
    border: 2px solid black;
    display: flex;
    width: min(1000px,95%);
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
.matchingresult{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}