.main{
    border: 2px solid black;
    display: flex;
    width: min(1000px,95%);
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
.matchingresult{
    
    display: flex;
    flex-direction: row;
}
.matchingresultInner{
 margin: 0px 10px;
 display: flex;
 flex-direction: column;
 align-items: start;
}
.matchingresultInner span{
  
    text-align: center;
    width: max-content;
}
.matchingresultInnerHeading{
    font-weight: 640;
    
}
